*{
	margin: 0;
	padding: 0;
}
body{
	background-color: lightblue;
}
.flex-container{
	display: flex;
	width: 90vw;
	margin: 0 auto;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 20px;
}
.flex-items{
	width: 350px;
	height: 350px;
	border: 1px solid black;
	order: 1;
}
i{
	visibility: hidden;
	float: right;
}
.header{
	height: 50px;
	background-color: #333;
}
.headerText{
	margin-left: 40px;
	color: white;
}

/*img{
	width: 100%;
	height: auto;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-webkit-transition: -webkit-filter 300ms linear;
}*/
.everest{
	background: linear-gradient(
	      rgba(0, 0, 0, 0.6),
	      rgba(0, 0, 0, 0.6)
	    ),
    url(http://edugeography.com/images/mount-everest/mount-everest-04.jpg);
  background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
