*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #74C4A2;
}
header{
    background: url(../images/header-image-wide.jpg);
    background-size: cover;
    width: 100%;
    height: 100px;
    padding-bottom: 100px;

}
h1{
	padding-left: 30px;
	padding-top: 30px;
}
.header-text{
	/*font size/ font-family / */
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 40px;
	color: #3F4951;
/*	font-family: 'Noto Sans';*/
}
/*** FLEX CONTAINER **/
.flex-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 85%;
    height: 150%;
    margin: 0 auto;
    margin-top: -100px;
    background-color: #efefef;
    -webkit-box-shadow: 13px 9px 24px -2px rgba(0,0,0,0.5);
-moz-box-shadow: 13px 9px 24px -2px rgba(0,0,0,0.5);
box-shadow: 13px 9px 24px -2px rgba(0,0,0,0.5);
}
/*** FLEX ITEMS **/
.flex-items{
    border: 1px solid #42564D;
    overflow: hidden;
    flex: 1 0;
    transition:all .7s linear;
}
/**FLEX-HEADER**/
h2{
    margin-top: 8px;
    margin-left: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.flex-header{
    color: #363636;
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    letter-spacing:2px;
}
/*** FLEX EXPAND **/
.expand {
    background-color: #C3D2DD;
    flex-grow: 10;
    padding-bottom: 40px;
}
/*** INFO-FLEX  **/
.info-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.info-flex-child{
    width: 49%;
    height: 27%;
    display: none;
    transition:all .7s linear;
}

/** MAP **/
.map{
	width: 100%;
	height: 100%;
}
/** GRAPH **/
.graph{
	width: 100%;
	height: 100%;
}
/** INFO-HEADER **/
h3{
	margin-top: 10px;
}
.info-sum-header{
	color: #363636;
	font-family: 'Mandali';
	font-size: 28px;
}
/** INFO-TEXT **/
p{
	margin-left: 10px;
}
.info-sum-text{
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1px;
}
.sec-para{
	margin-top: 10px;
}

.info-pic{
	width: 100%;
	height: auto;
}

i{
    color: #efefef;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -60px;
    margin-bottom: 5px;
    float: right;
    visibility: hidden;
}
i:hover {
    color: #363636;
}



@media (max-width: 720px) {
    .flex-container{
        width: 90%;
        flex-flow: column wrap;
        overflow: hidden;
    }
    .info-flex-child{
    	width: 100%;
    }
}