*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
}
nav{
    background-color: lightgreen;
    width: 100%;
    height: 150px;
}
/*** FLEX CONTAINER **/
.flex-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 75%;
    height: 150%;
    margin: 0 auto;
    margin-top: -50px;
    background-color: lightgrey;
}
/*** FLEX ITEMS **/
.flex-items{
    border: 1px solid black;
    overflow: hidden;
    flex: 1 0;
    transition:all .7s linear;
}
.flex-header{
    color: black;
    font-size: 30px;
}

/*** FLEX EXPAND **/
.expand {
    background-color: tomato;
    flex-grow: 10;
    padding-bottom: 40px;
}
/*** INFO-FLEX  **/
.info-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.info-flex-child{
    width: 49%;
    height: 27%;
    border: 1px solid black;
    display: none;
    transition:all .7s linear;
}
.map{
	width: 100%;
	height: 100%;
}
.graph{
	width: 100%;
	height: 100%;
}


i{
    color: white;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -40px;
    margin-bottom: 5px;
    float: right;
    visibility: hidden;
}
i:hover {
    color: black;
}
h2{
    margin-top: 8px;
    margin-left: 8px;
}


@media (max-width: 720px) {
    .flex-container{
        width: 90%;
        flex-flow: column wrap;
        overflow: hidden;
    }
    .flex-items{
	    width: 99%;
	}
    .info-flex{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        visibility: hidden;

    }
    .info-flex-child{
        height: 55%;
        width: 100%;
    }
    .expand {
        background-color: tomato;
        flex-grow: 15;
        overflow-y: scroll;
    }
}